.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4f5;
}

.register-card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #002f34;
}

.register-card form {
  display: flex;
  flex-direction: column;
}

.register-card label {
  margin-top: 10px;
  font-weight: 500;
}

.register-card input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-card input:focus {
  outline: none;
  border: 1px solid #002f34;
}

.register-card button {
  margin-top: 20px;
  padding: 10px;
  background-color: #002f34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.register-card button:hover {
  background-color: #01474f;
}

.register-card p {
  text-align: center;
  margin-top: 15px;
  color: black;
}

.register-card a {
  color: #002f34;
  font-weight: bold;
  text-decoration: none;
}

.register-card a:hover {
  text-decoration: underline;
}